h1 {
    text-align: center;
  }
  
  button {
    margin: 20px auto;
    display: block;
    padding: 10px 20px;
    background-color: #428bca;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  #pdfViewer {
    width: 100%;
    height: 600px;
  }
  